@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: var(--color-slate-200);
  }
}

@utility perspective-1000 {
  perspective: 1000px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}
